.woocommerce-order-details {

	p.order-again {
		margin: 20px 0 0 0;
	}
}

.woocommerce-MyAccount-content {

	.subscription_details,
	.subscription_details ~ .order_details {
		margin-bottom: 2.5em;
	}
}

.woocommerce-order-details,
.woocommerce-MyAccount-content {

	header {

		h2 {
			margin-bottom: calc(var(--has-content-spacing, 1) * (0.3em + 10px));
		}
	}
}